@import url(../../mixins.less);

.homePage {
    // background: #fff;
    display: grid;
    grid-template-columns: min(50%, 300px) auto;


}
.contacts {
    // background: #888;

    .glass(0);

    border: none;
    // border-right: 1px solid var(--white);
}
.chat {
    .chatInfo {
        display: flex;
        align-items: center;
        justify-content: start;
    }
}