@import url(../../mixins.less);

.homePage {
    // background: #fff;
    display: grid;
    grid-template-columns: min(50%, 300px) auto;


}
.contacts {

    
    // background: #888;

    .glass(0, 40px);
    .drop-shadow(10px);

    border: none;
    // border-right: 1px solid var(--white);

    .contact {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 60px;

        display: grid;
        grid-template-columns: 40px auto;

        margin: 5px;
        padding: 10px;

        .glass();
        .drop-shadow(5px, 10%);

        &::after {
            content: "";
            position: absolute;
            bottom: 12px;
            left: 38px;
    
            min-width: 10px;
            min-height: 10px;
    
            border-radius: 50%;
    
            background: var(--green);

            box-shadow: 0 0 6px rgba(var(--black-), 0.8);
        }

        & img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            
        }

        & div {
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: flex-start;

            overflow: hidden;

            .username {
                color: var(--white);
                margin: 0 10px;
                white-space: nowrap;
            }

            .info {
                color: rgba(var(--white-), 0.5);
                overflow: hidden;
                white-space: nowrap;
                line-clamp: 1;
                -webkit-line-clamp: 1;
                text-overflow: ellipsis;
            }
        }
    }
}
.chat {
    position: relative;
    display: grid;
    grid-template-rows: 50px auto;
    // flex-direction: column;
    // justify-content: stretch;

    --chat-info-height: 50px;

    .chatInfo {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .chatWrapper {

        // position: absolute;
        // bottom:0;
        display: flex;
        flex-direction: column;

        width: 100%;
        max-height: calc(100vh - var(--top-bar-height) - var(--chat-info-height));

        overflow-y: auto;

        .scrollbar();
    }

    .messageWrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 5px;

        &.fromMe {
            flex-direction: row-reverse;
        }

        .profilePicture {
            border-radius: 50%;
        }

    }

    .messageWrapper.notFromMe + .messageWrapper.notFromMe {
        .profilePicture {
            display: none;
        }
        padding-left: 60px;
        padding-top: 0;
    }
    .messageWrapper.fromMe + .messageWrapper.fromMe {
        .profilePicture {
            display: none;
        }
        padding-right: 60px;
        padding-top: 0;
    }

    .profilePicture {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        margin-left: 5px;

        .drop-shadow(8px, 20%)
    }


    .message {
        min-height: 40px;
        max-width: 70%;
        color: var(--white);
        border-radius: 5px;
        
        display: flex;
        align-items: center;
        padding: 10px;
        
        .glass();
        background: rgba(var(--white-), 0.2);
        color: var(--white);
    }
}