.loginWrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

    background: url("https://images.hdqwalls.com/download/1/geometry-abstract-minimalism-0x-1600x900.jpg");
    background-size: cover;
}

.loginForm {

    

    background: rgba(214, 214, 214, 0.2);
    border-top: 2px solid rgba(220,220,220,0.2);
    border-left: 1px solid rgba(220,220,220,0.2);

    box-shadow: 12px 4px 10px rgba(0,0,0,0.2);
    
    
    backdrop-filter: blur(60px);
    
    width: min(50%, 400px);
    height: min(80%, 600px);

    display: flex;
    flex-direction: column;
    // place-items: center;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

    .title {
        font-size: 40px;
        color: #dddddd;
        // height: 80px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .inputField {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 80%;

        & > label {
            font-size: 12px;
            color: #dddddd;

            margin: 2px 10px;
        }

        & > input {
            height: 30px;
            border: none;
            padding: 20px 10px;
            border-radius: 10px;
            outline: none;

            background: rgba(200,200,200,0.5);
            color: white;

            font-size: 16px;
            font-weight: bold;

            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    .inputField + .inputField {
        margin-top: 10px;
    }

    .buttonWrapper {
        margin-top: 20px !important;
        display: grid;
        place-items: center;
    }

    .loginButton {
        border: none;
        padding: 10px 0;
        border-radius: 10px;
        width: 70%;

        color: #ffffff;
        font-size: 20px;
        font-weight: bold;

        background: #e13b78;
    }
}