@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

body {
    background: #191919;
    height: 100vh;
}

h1 {
    color: #54c54a;
}

// button {
//     font-size: 16px;
//     margin: 0;
//     border: none;
//     padding: 1rem;
//     border-radius: 0.3rem;
//     font-weight: bolder;

//     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);

//     transition: box-shadow 100ms ease;

// }

// button:hover {
//     box-shadow: 0 5px 20px rgba(0,0,0,1);
// }